main
{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form-wrapper
{
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #1b2727;
    margin-top: 40px;
    font-family: monospace;
}

main div .form-header
{
    font-size: 27px;
}


.user-form-wrapper form.user-form
{
    height: 80%;
    font-size: 14px; 
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form .form-item
{
    display: flex;
    width: 800px;
    flex-direction: row;
}

form .form-group
{
    width: 800px;
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: space-between;

}

form .form-group .form-group-item
{
    display: flex;
    width: 420px;
    flex-direction: row;
}

form .form-group .form-group-item.gender-form-group
{
    gap: 20px;

}
form .form-label
{
    width: 150px;
}

.form-input-group
{
    display: flex;
    flex: 1;
    align-items: start;
    gap: 20px;
    position: relative;
}

form  .form-input:not(.tag-input)
{
    height: 30px;
    display: flex;
    flex: 1;
}

form  textarea.form-input:not(.tag-input)
{
    height: 70px;
}

form .form-input-group:has(.form-radio)
{
    display: flex;
    align-items: start;
}
form .form-input-group .radio-group
{
    width: 100px;
}

form input[type="submit"]
{
    background: #FFB4B4;
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #1b2727;
    transition: 0.3s all;
    margin-top: 2%;
}

.add-tag-btn
{
    border: 1px solid #1b2727a1;
    height: 30px;
    width: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b4ffb8;
}

.form-input-edit-btn, .form-radio-edit-btn
{
    border: 1px solid #1b2727a1;
    height: 30px;
    width: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #E5FAFF;
}

input:read-only:not(.user-save-btn), textarea:read-only
{
    opacity: 0.5;
}

form  .form-input.tag-input
{
    width: 100px;
}

.pic-btns
{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.profile-btn
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #1b2727;
    text-decoration: none;
    color: black;
    transition: 0.3s all;
    cursor: pointer;
}

.profile-btn.show-img-btn
{
    background-color: rgb(218, 167, 64);
}

.show-delete-popup-btn
{
    background: #ff3c3c;
}

.popup-modal
{
    background-color: rgba(0, 0, 0, 0.822);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    display: none;

}

.popup-modal .delete-picture-popup
{
    z-index: 6;
    width: 500px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}  

.popup-modal .delete-picture-popup .delete-confirm-text
{
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    height: 60%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.popup-modal .delete-picture-popup .popup-btns
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.popup-modal .delete-picture-popup .delete-user-pic-confirm-btn
{
    background-color: #ff2d2d;
    color: white;
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #1b2727;
    transition: 0.3s all;
    margin-top: 2%;   
}

.popup-modal .delete-picture-popup .cancel-delete-user-pic-btn
{
    background-color: #575757;
    color: white;
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #1b2727;
    transition: 0.3s all;
    margin-top: 2%;
    
}

div.form-item.tags-form-group
{
    display: flex;
    gap: 20px;
}

.tags-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #1b272767;
    box-shadow: rgba(10, 10, 10, 0.109) 0px 1px 4px 1px;
}

.tags-container
{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    min-height: 80%;
    gap: 10px;
}

.tag-item
{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #FFB4B4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.tag-item .tag-delete-icon
{
    cursor: pointer;
    transition: 0.3s all;
    margin-left: 5px;
}

.tag-item .tag-delete-icon:hover
{
}